@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Helvetica', 'Helvetica Now Display', 'Helvetica Neue', 'Roboto', sans-serif;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .text-color-white {
    color: white;
  }