name: CI
on:
  push:
    branches: [ dev ]

jobs:
  build:
    name: testing and building the app
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './client/package-lock.json'
    - run: cd client && npm ci
    - run: cd client && CI=false npm run build --if-present

        